@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-accent-1: 44, 154, 255;
        --color-accent-2: 34, 34, 34;
        --color-bg_color: 237, 244, 255;
        --color-text_color: 34, 34, 34;
    }

    :root[data-theme="light"] {
        --color-accent-1: 44, 154, 255;
        --color-accent-2: 34, 34, 34;
        --color-bg_color: 237, 244, 255;
        --color-text_color: 34, 34, 34;
    }

    :root[data-theme="dark"] {
        --color-accent-1: 44, 154, 255;
        --color-accent-2: 34, 34, 34;
        --color-bg_color: 16, 16, 16;
        --color-text_color: 255, 255, 255;
    }


    @media (prefers-color-scheme: dark) {
        :root {
            --color-accent-1: 44, 154, 255;
            --color-accent-2: 34, 34, 34;
            --color-bg_color: 16, 16, 16;
            --color-text_color: 255, 255, 255;
        }
    }
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Inter', sans-serif;
}

.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
    display: none !important;
}


.slide-bottom {
    top: -10rem;
    opacity: 0;

    /* Animation properties */
    animation-name: slideInFromBottom;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Keyframes for the animation */
@keyframes slideInFromBottom {
    from {
        top: -10rem;
        opacity: 0;
    }

    to {
        top: 4rem;
        opacity: 1;
    }
}

.slide-top {
    top: 4rem;

    /* Animation properties */
    animation-name: slideInFromTop;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Keyframes for the animation */
@keyframes slideInFromTop {
    from {
        top: 4rem;
        opacity: 1;
    }

    to {
        top: -10rem;
        opacity: 0;
    }
}