.navbar {
    display: grid;
    grid-template-rows: 200px 1fr auto;
    background-color: white;
    color: #fff;
    height: 100vh;
    width: 250px;
    border-right: 1px solid #ccc;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .title-container {
    background-color: #2C9AFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .top-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  
  button {
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2C9AFF;
    color: #fff;
/*    width: 100%; */
  }
  
  .logout-button {
    width: 100%;
  }
  