/* MyAccount */

.work-area {
    background-color: #f0f0f0;
  }
  
  form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .form-group:not(:last-child) {
    margin-bottom: 20px;
  }

  /* RideHistory */

.misc-history {
    background-color: #f0f0f0;
  }
  
  .misc-history li {
    background-color: #fff; 
    border: 1px solid #ddd;
  }
  
  .misc-history li:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  .misc-history li h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .misc-history li p {
    margin: 5px 0;
  }

  ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
  }

  .readonly {
    background-color: #f2f2f2; 
    color: #888888; 
    cursor: not-allowed; 
    pointer-events: none; 
  }


/* Custom modal container */
.custom-member-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Style the modal content */
.custom-member-modal .ReactModal__Content {
  position: relative;
  background: #fff; 
  border-radius: 8px;
  padding: 20px;
  max-width: 600px; 
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  max-height: 99vh;
  overflow-y: auto;
}